@import url(http://fonts.googleapis.com/css?family=Oswald); //font for the namein the nav bar
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow); //font for the Days on tracker page


body{
  background-image: url('/blurry2.jpg');
  background-size: cover;
 // background-color: lightsteelblue;
  margin-bottom: 30px;
}

.navbar-default .navbar-brand {
  font-family: 'Oswald', sans-serif;
  font-size: 45px;
  color: black;
}

.navbar-default .navbar-nav > li > a:hover {
  text-shadow: 1px 3px 3px rgba(0,0,0,.4);
}

.panel-body {
  box-shadow: 10px 10px 32px -8px rgba(0,0,0,0.66);
}
table {
  background-color: ghostwhite;

  td {
    text-align: right;
  }

  th {
    text-align: center;
  }
}

.day {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 25px;
  color: black;
}
