.row
  .col-xs-3
    .panel.panel-default
      .panel-body
        h4 {{user.email}}
        ul
          li Gender: {{user.gender}}
          li Height (in inches): {{user.height}}
          li Current Weight: {{user.cWeight}}
          li Goal Weight: {{user.gWeight}}
          li Calories to Go: {{calories}}
  .col-xs-4
    h3 Activities
    form(role='form', novalidate, name='activityForm')
      .form-group
        label(for='day') Day
        select.form-control(name='day', ng-model='activity.day')
          option(value='Monday') Monday
          option(value='Tuesday') Tuesday
          option(value='Wednesday') Wednesday
          option(value='Thursday') Thursday
          option(value='Friday') Friday
          option(value='Saturday') Saturday
          option(value='Sunday') Sunday
      .form-group
        label(for='name') Activity Name
        input.form-control#name(type='text', name='name', ng-model='activity.name', autofocus, required)
      .form-group
        label(for='calories') Calories Burned
        input.form-control#calories(type='number', name='calories', ng-model='activity.calories')
      .form-group
        label(for='details') Activity Details
        input.form-control#details(type='text', name='details', ng-model='activity.details')
      .form-group
        button.btn.btn-primary(ng-show='activityForm.$valid', ng-click='addActivity()') Add
  .col-xs-1
  .col-xs-4
    h3 Meals
    form(role='form', novalidate, name='mealForm')
      .form-group
        label(for='day') Day
        select.form-control(name='day', ng-model='meal.day')
          option(value='Monday') Monday
          option(value='Tuesday') Tuesday
          option(value='Wednesday') Wednesday
          option(value='Thursday') Thursday
          option(value='Friday') Friday
          option(value='Saturday') Saturday
          option(value='Sunday') Sunday
      .form-group
        label(for='name') Meal Name
        input.form-control(type='text', name='name', ng-model='meal.name', autofocus, required)
      .form-group
        label(for='calories') Total Calories
        input.form-control(type='number', name='calories', ng-model='meal.calories')
      .form-group
        label(for='details') Meal Details
        input.form-control(type='text', name='details', ng-model='meal.details')
      .form-group
        button.btn.btn-primary(ng-show='mealForm.$valid', ng-click='addMeal()') Add

.row
  .col-xs-3
    #days
      .all(ng-click='findAllA(); findAllM()') All
      .day(ng-repeat='day in days', ng-click='filterActivities(day);filterMeals(day);') {{day}}
  .col-xs-4
    table.table.table-bordered
      thead
        tr
          th Activity
          th Calories Burned
          th Details
      tbody
        tr(ng-repeat='a in filteredA')
          td {{a.name}}
          td {{a.calories}}
          td {{a.details}}
  .col-xs-1
  .col-xs-4
    table.table.table-bordered
      thead
        tr
          th Meal
          th Calories Consumed
          th Details
      tbody
        tr(ng-repeat='m in filteredM')
          td {{m.name}}
          td {{m.calories}}
          td {{m.details}}

